.ad {
    width: 100%;
    height: auto;
    max-height: 500px;
    margin-top: 120px;
    position: relative;
    overflow: hidden;

    &.swiper {
        .swiper-slide {
            height: auto !important;
            font-size: 0;

            img {
                width: 100%;
                object-fit: contain;
            }
        }
 
        .swiper-button-prev {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 15px 10px;
            border-color:  $sub_color transparent;
            transform: translate(50%,50%);
            position: absolute;
            top: 28%;
            left: 10px;

            &::before,
            &::after {
                content: "";
            }
        }

        .swiper-button-next {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 15px 10px 0 10px;
            border-color: $sub_color transparent;
            transform: translate(50%,50%);
            position: absolute;
            top: 77%;
            left: 10px;

            &::before,
            &::after {
                content: "";
            }
        }

        .swiper-pagination-bullets {
            right: unset;
            left: 25px;
            .swiper-pagination-bullet {
                width: 14px;
                height: 14px;
                background: $swiper-pagination-bullet;
                opacity: 0.4;
                margin: 10px 0;
            }
            .swiper-pagination-bullet-active {
                background: $sub02_color;
                opacity: 1;
            }
        }
    }

    // 跑馬燈
    .marquee {
        width: 18.36%;
        height: 80%;
        background: $sub02_color;
        padding: 27px 37px 27px 20px;
        position: absolute;
        top: 45px;
        right: 54px;
        z-index: 50;

        // 裝飾
        .outter_deco {
            width: 98%;
            height: 99%;
            border: 3px solid $main_border;
            position: absolute;
            top: -15px;
            left: -15px;

            .yDeco {
                width: 20%;
                height: 18%;
                background: $main_color;
                border-radius: 100%;
                position: absolute;
                bottom: 30px;
                right: -50px;
                z-index: 5;
            }
            .bDeco {
                width: 32%;
                height: 28%;
                border-radius: 100%;
                overflow: hidden;
                position: absolute;
                bottom: -37px;
                right: -35px;
                z-index: 10;
            }
            .cover {
                width: 30%;
                height: 27%;
                background: $sub02_color;
                border-radius: 100% 0 0 0;
                position: absolute;
                bottom: -10px;
                right: -12px;
                z-index: 1;

                &::before {
                    content: "";
                    width: 41%;
                    height: 77%;
                    border-radius: 50px 0 0 50px;
                    background: $sub02_color;
                    position: absolute;
                    bottom: 40px;
                    right: 0px;
                }
            }

            &::before {
                content: "";
                width: 3px;
                height: 15px;
                background: $sub_color;
                border-radius: 10px;
                position: absolute;
                top: 20px;
                left: 82px;
            }
            &::after {
                content: "";
                width: 15px;
                height: 3px;
                background: $sub_color;
                border-radius: 10px;
                position: absolute;
                top: 25.5px;
                left: 76px;
            }
        }
        //title
        .title {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;

            p {
                color: $main_font;
                font-size: 1vw;
                font-weight: bold;
                white-space: nowrap;
                flex-shrink: 0;
                position: relative;

                .first {
                    font-size: 1.2vw;
                }

                .deco {
                    width: 48px;
                    height: 48px;
                    background: $main_color;
                    border-radius: 50px;
                    position: absolute;
                    top: -14px;
                    left: -8px;
                    z-index: -1;
                }
            }

            .deco_line {
                width: 100%;
                height: 2px;
                margin: 5px 10px 0px 10px;
                background: $sub_color;
            }
            .arrow_deco {
                width: 20%;
                height: 17px;
                margin: 5px 0px 0px;
                overflow: hidden;
                flex-shrink: 0;
            }
        }
        .textBox {
            width: 100%;
            height: 90%;
            margin-top: 15px;
            overflow: hidden;
            
            .content {
                color: $main_font;
                font-size: 0.9vw;
                font-weight: bolder;
                padding-bottom: 10px;
                animation: toTop 5s linear infinite;

                @keyframes toTop {
                    0% {
                        transform: translateY(500%);
                    }
                    100% {
                        transform: translateY(-200%);
                    }
                }
            }
        }
    }
}

