footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background: $main_color;
    padding: 27px;

    .news {
        width: 50%;
        height: auto;
        border-right: solid 2px $sub_color;
        display: flex;
        flex-direction: column;
        padding-right: 35px;

        .thempage {
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;

            .wrap {
                width: 100%;
                height: auto;
                display: flex;
                flex-shrink: 0;
                justify-content: space-around;
                align-items: flex-start;

                &:nth-of-type(1){
                    margin-bottom: 45px;
                }

                .box {
                    position: relative;

                    &.long {
                        width: 48%;
                        height: 100%;
                    }
                    &.short {
                        width: 38%;
                        height: 100%;
                    }
                    .content {
                        width: 100%;
                        height: 100%;
                        @include borderBlock;
                        border: 2px solid $main_border;
                        padding: 68px 0 30px 15px;
                        transform: translate(10px,10px);
                        transition: 0.3s;

                        .themTitle {
                            @include themeTag;
                        }

                        ul {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-wrap: wrap;

                            li {
                                width: 195px;
                                height: 25px;
                                display: flex;
                                align-items: center;
                                color: $main_font;
                                padding: 0 5px;
                                cursor: pointer;
                                transition: 0.5s;

                                i {
                                    width: 0;
                                    height: 0;
                                    border-style: solid;
                                    border-width:  6px 0 7px 11px;
                                    border-color: transparent transparent transparent $sub_color;
                                    margin-right: 3px;
                                }

                                &:hover,&:active,&.active {
                                    background: $sub_color;
                                    color: $sub_font;
                                    text-shadow: 0px 0px 5px $sub_font;

                                    i {
                                        filter: brightness(100);
                                    }
                                }
                            }
                           
                        }

                        &:hover,&:active,&.active {
                            transform: translate(0,0);

                            .themTitle {
                                background: $sub_color;
                                color: $sub_font;

                                &::before {
                                    border-color: $sub_color transparent transparent transparent;
                                }
                                &::after {
                                    border-color: transparent transparent $sub_color transparent;
                                }
                            }
                        }
                    }

                    &:first-child {
                        &.short {
                            ul {
                                display: flex;
                                flex-direction: column;

                                li {
                                    width: 50%;
                                }
                            }
                        }
                    }
                }
            }
            
        }

        .aboutUS {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;

            .btn {
                width: 50%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin-top: 10px;
                

                .shadow {
                    width: 100%;
                    min-width: 121px;
                    height: 54px;
                    @include borderBlock;
                    margin-right: 30px;
                    position: relative;
                   
                    button {
                        width: 100%;
                        min-width: 119px;
                        height: 54px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 18px;
                        font-weight: bold;
                        position: absolute;
                        top: -10px;
                        left: -10px;
                        
                        @include borderBlock;
                        color: $sub_font;
                        
    
                        &:first-child {
                            background: $sub_color;
                        }

                        &:hover,&:active,&.active {
                            transform: translate(7px,7px);
                            transition: 0.3s;
                        }
                    }

                    &:last-child {
                        background: $sub_color;

                        button {
                            background: $sub02_color;
                        }
                    }

                    
                }
            }
            .social {
                width: 40%;
                height: auto;
                display: flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: space-around;
                // padding: 0 65px;

                div {
                    width: 17%;
                    height: 0;
                    padding-top: 17%;
                    overflow: hidden;
                    filter: drop-shadow(5px 5px 0.5px $sub_color);

                    &:hover,&:active,&.active {
                        transition: 0.3s;
                        transform: translate(5px,5px);
                        filter: drop-shadow(0px 0px 0.5px $sub_color);
                    }
                }
            }
        }

        @media only screen and (max-width: 1400px) {
            
            .thempage {

                .wrap {
                    flex-wrap: wrap;

                    .box {
                        width: 100% !important;
                        height: auto !important;

                        &:first-child {
                            margin-bottom: 45px;
                        }

                        .content {

                            ul {

                                li {
                                    width: 51%;
                                    margin-bottom: 10px;

                                    &:last-child {
                                        margin: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .aboutUS {
                flex-direction: column;

                .btn {
                    width: 100%;
                    margin-top: 45px;

                    .shadow {

                        &:last-child {
                            margin: 0;
                        }
                    }
                }

                .social {
                    width: 60%;
                    margin-top: 20px;

                    div {
                        width: 60px;
                        height: 60px;
                    }
                }
            }
        }
    }

    .partner {
        width: 50%;
        height: auto;
        padding-left: 35px;

        .title {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            margin-bottom: 40px;

            p {
                color: $main_font;
                font-size: 20px;
                font-weight: bold;
                white-space: nowrap;
                flex-shrink: 0;
                position: relative;
                z-index: 5;

                span {
                    width: 24px;
                    height: 24px;
                    background: $sub_border;
                    border-radius: 50px;
                    position: absolute;
                    top: -6px;
                    left: -11px;
                    z-index: -1;
                }
            }
            
            .deco {
                width: 100%;
                height: 2px;
                background: $sub_color;
                margin: 0 15px;
            }

            .arrow_deco {
                width: 67px;
                height: 15px;
                flex-shrink: 0;
            }
        }

        .company {
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            
            .clogo {
                margin: 0 45px 30px 0;
                cursor: pointer;
    
                &:hover,&:active,&.active {
                    filter: invert(1);
                    transition: 0.8s transform;
                    transform: rotateY(-360deg);
                }
    
                &.net {
                    width: 93px;
                    height: 48px;
                }
                &.jili {
                    width: 74px;
                    height: 31px;
                }
                &.sp {
                    width: 123px;
                    height: 37px;
                }
                &.og {
                    width: 53px;
                    height: 45px;
                }
                &.qs {
                    width: 110px;
                    height: 28px;
                }
                &.auxx {
                    width: 138px;
                    height: 35px;
                }
                &.sa {
                    width: 103px;
                    height: 37px;
                }
                &.elk {
                    width: 95px;
                    height: 38px;
                }
                &.bluep {
                    width: 140px;
                    height: 30px;
                }
                &.evlout {
                    width: 135px;
                    height: 28px;
                }
                &.tpg {
                    width: 108px;
                    height: 36px;
                }
                &.rsg {
                    width: 70px;
                    height: 41px;
                }
                &.ag {
                    width: 109px;
                    height: 36px;
                }
                &.player {
                    width: 138px;
                    height: 33px;
                }
                &.ab {
                    width: 100px;
                    height: 34px;
                }
                &.pls {
                    width: 170px;
                    height: 28px;
                }
                &.pg {
                    width: 125px;
                    height: 32px;
                }
                &.png {
                    width: 115px;
                    height: 33px;
                }
                &.micro {
                    width: 133px;
                    height: 34px;
                }
                &.pp {
                    width: 96px;
                    height: 43px;
                }
                &.redrake {
                    width: 77px;
                    height: 48px;
                }
                &.gh {
                    width: 59px;
                    height: 41px;
                }
                &.ygg {
                    width: 132px;
                    height: 35px;
                }
                &.rela {
                    width: 100px;
                    height: 33px;
                }
                &.rt {
                    width: 102px;
                    height: 44px;
                }
                &.bng {
                    width: 101px;
                    height: 31px;
                }
                &.wm {
                    width: 42px;
                    height: 42px;
                }
                &.b36 {
                    width: 99px;
                    height: 38px;
                }
                &.ifun {
                    width: 124px;
                    height: 37px;
                }
                &.ely {
                    width: 135px;
                    height: 31px;
                }
                &.nolimt {
                    width: 120px;
                    height: 34px;
                }
                &.evo {
                    width: 135px;
                    height: 28px;
                }
                &.dg {
                    width: 75px;
                    height: 39px;
                }
            }
        }
    
        .copyright {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
    
            p {
                width: auto;
                height: 35px;
                display: flex;
                align-items: center;
                padding: 10px; 
                position: relative;
    
                @include borderBlock;
                border: 2px solid $main_border;
    
                &::before {
                    content: "";
                    width: 51px;
                    height: 15px;
                    position: absolute;
                    left: -70px;
                }
    
                &::after {
                    content: "";
                    width: 51px;
                    height: 15px;
                    transform: rotate(-180deg);
                    position: absolute;
                    right: -70px;
                }
            }
        }

        @media only screen and (max-width: 1400px) {
            
            .company {
                display: grid;
                grid-template-columns: repeat(3,1fr);
                gap: 45px;
                padding: 0 8%;

                .clogo {
                    width: auto !important;
                    margin: 0;
                }
            }

            .copyright {
                margin-top: 45px;

                p {
                    font-size: 14px;

                    &::before,
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}