header {
    width: 100%;
    min-width: 1000px;
    height: 120px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;

    .loginArea {
        width: 400px;
        height: 120px;
        padding: 16px 45px 16px 16px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;

        form {
            width: 100%;
            height: 100%;

            .input {
                width: 100%;
                height: auto;
                display: flex;
                margin: 0 0 10px;

                label {
                    &:first-child {
                        margin-right: 10px;
                    }
                    
                    input {
                        width: 100%;
                        height: 35px;
                        padding: 0 10px;
                        @include borderBlock;

                        &:focus {
                            border: 2px solid $sub_color;
                        }
                    }
                }
            }
            .buttonBox {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .forgetPW {
                    width: 33%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    margin-right: 15px;
                    cursor: pointer;

                    .Q_icon {
                        width: 16px;
                        height: 16px;
                        margin: 0 5px 0 0;
                    }

                    p {
                        color: $main_font;
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 20px;
                        text-decoration: underline;
                    }
                }

                .btnOutter {
                    width: 39%;
                    height: 35px;
                    @include borderBlock;
                    margin: 5px;
                    position: relative;
                    
                    button {
                        width: 110px;
                        height: 35px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        @include borderBlock;
                        background: $main_color;
                        border: 2px solid $main_font;
                        font-size: 16px;
                        white-space: nowrap;
                        position: absolute;
                        top: -5px;
                        left: -8px;


                        &:hover,&:active,&.active {
                            transform: translate(4px,4px);
                            transition: 0.3s;
                        }
                    }

                    &:last-child {
                        button {
                            background: $sub_color;
                            color: $sub_font;
                        }
                    }
                }
            }
        }

        
    }

    .top {
        width: 100%;
        height: 50%;
        background: $main_color;
        padding: 0 20px 0 435px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .lang {
            width: 99px;
            height: 38px;
            position: absolute;
            right: 20px;
            z-index: 5;

            @include borderBlock;

            .content {
                width: auto;
                height: auto;
                display: flex;
                align-items: center;
                padding: 10px 13px;
                position: absolute;
                top: -5px;
                left: -5px;
                @include borderBlock;
                cursor: pointer;
                z-index: 1;

                p {
                    margin-right: 15px;
                }
    
                i {
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width:  6px 4px 0 4px ;
                    border-color: $sub_color transparent transparent transparent;
                }

                &:hover,&:active,&.active {
                    transform: translate(4px,4px);
                    transition: 0.3s;
                }
            }
        }
    }

    .bottom {
        width: 100%;
        min-width: 1000px;
        height: 50%;
        background: $sub_color;
        white-space: nowrap;
        padding: 0 20px 0 435px;

        ul {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            li {
                width: auto;
                height: 44px;
                display: flex;
                flex-shrink: 0;
                align-items: center;
                background: transparent;
                color: $sub_font;
                font-size: 20px;
                font-weight: bold;
                margin-right: 15px;
                position: relative;
                cursor: pointer;
                z-index: 5;

                &:hover,&:active {
                    background: $main_color;
                    
                    .content {
                        border-color: $sub_border;
                        transform: translate(-7px,-6px);
                        animation: rote 0.3s ease-in-out 0s;
                    }
                }

                .content {
                    width: auto;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $sub_color;
                    border: 3px solid transparent;
                    transform-origin: top;
                    white-space: nowrap;
                    transition: 0.3s;
                    transform-style: preserve-3d;
                    padding: 0 15px;
                }

                @keyframes rote {
                    0% {
                        transform: translate(0,0) rotateX(60deg);
                    }

                    100% {
                        transform: translate(-7px,-6px) rotateX(0deg);
                    }
                }
            }
        }
        @media only screen and (max-width: 1870px) {
            ul {
                padding-left: 10px;
                overflow: overlay;
                @include scrollBar;
            }
        }
    }
}