.mainWrap {
    width: 100%;
    height: auto;

    .hotGame {
        width: 100%;
        height: 410px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 115px;

        .hotgameTitle {
            width: auto;
            height: 30px;
            margin: 60px auto;
            
            p {
                color: $main_font;
                font-size: 25px;
                font-weight: bolder;
                letter-spacing: 2px;
                position: relative;

                &::before {
                    content: "";
                    width: 103px;
                    height: 15px;
                    position: absolute;
                    top: 25%;
                    transform: translateY(25%);
                    left: -117px;
                }

                &::after {
                    content: "";
                    width: 103px;
                    height: 15px;
                    position: absolute;
                    top: 25%;
                    transform: translateY(25%) rotate(-180deg);
                    right: -117px;
                }

                span {
                    font-size: 35px;
                    font-weight: bold;
                    position: relative;
                   
                    i {
                        width: 28px;
                        height: 28px;
                        background: $main_color;
                        border-radius: 50px;
                        position: absolute;
                        top: -6px;
                        left: -11px;
                        z-index: -1;
                    }
                }
            }
        }

        .swiperBox {
            width: 90%;
            height: 230px;
            margin: 0 auto;
            position: relative;
            
            .swiperHG {
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: relative;
                // --swiper-navigation-color: transparent;/* 单独设置按钮颜色 */
                // --swiper-navigation-size: 40px;/* 设置按钮大小 */
                
                .swiper-wrapper {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-shrink: 0;
                    padding: 16px 0;
                    
                    .swiper-slide {
                        width: 316px;
                        height: 90%;
                        display: flex;
                        justify-content: flex-end;

                        .gameBox {
                            width: 303px;
                            height: 100.8%;
                            border: 3px solid $main_border;
                            cursor: pointer;
        
                            &:hover,&:active,&.active {
                                .picBox {
                                    background-size: 105%;
                                    filter: brightness(1.2);
                                    transition: 0.8s ;
                                    transform: translate(13px, 13px);
                                }
                                .textArea {
                                    background: $main_color;
                                    p {
                                        color: $main_font;
                                        font-weight: bold;
                                    }
                                }
                            }
        
                            .picArea {
                                width: 100%;
                                height: 173px;
                                background: $main_color;
                                position: relative;
        
                                .picBox {
                                    width: 102%;
                                    height: 178px;
                                    border: 3px solid $main_border;
                                    position: absolute;
                                    top: -16px;
                                    left: -16px;
                                }
                            }
                            
                            .textArea {
                                width: 100%;
                                height: 30px;
                                background: $sub_color;
                                display: flex;
                                align-items: center;
                                justify-items: center;
        
                                p {
                                    color: $sub_font;
                                    font-weight: bold;
                                    margin: 10px auto;
                                }
                            }
                        }
                    }
                }    
            }

            .swiper-button-prev02 {
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 15px 25px 15px 0;
                border-color:  transparent $sub_color transparent transparent;
                position: absolute;
                top: 103px;
                left: -71px;
                cursor: pointer;
            }
    
            .swiper-button-next02 {
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 15px  0 15px 25px;
                border-color:  transparent transparent transparent $sub_color;
                position: absolute;
                top: 103px;
                right: -71px;
                cursor: pointer;
            }
        }
    }

    .gameType {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        padding: 50px 110px;

        .left {
            width: 35%;
            height: auto;

            .live {
                width: 95%;
                height: 0;
                overflow: hidden;
                position: relative;
                cursor: pointer;
                padding-top: 106%;

                &:hover,&:active,&.active {
                    .block {
                        transform: scale(1.12);
                    }

                    .textBox {
                        animation: bounce 2s 0.3s ease-in-out infinite;

                        p {
                            color: $sub_font;
                        }

                        &::before { 
                            animation: bounce 2s 0.3s ease-in-out infinite;
                        }
                    }

                    @keyframes bounce {
                        0% {
                            border-radius: 496px 340px 315px 143px;
                            transform: scale(0.9);
                        }
                        34% {
                            border-radius: 1223px 553px 1003px 227px;
                            transform: scale(1.1);
                        }
                        67% {
                            border-radius: 836px 485px 538px 109px;
                            transform: scale(0.9);
                        }
                        100% {
                            border-radius: 344px 485px 157px 109px;
                            transform: scale(1);
                        }
                    }
                }
            }

            .block {
                width: 97.5%;
                height: 98%;
                position: absolute;
                right: 0;
                top: 0;
                transition: 0.6s;
            }

            .textBox {
                width: 52%;
                height: 35%;
                background: $live_Btn;
                filter: drop-shadow(13px -11px 0.5px $sub_color);
                position: absolute;
                border-radius: 456px 283px 299px 82px;
                left: -8%;
                bottom: -12%;
                z-index: 5;

                p {
                    color: $main_font;
                    font-size: 1.8vw;
                    font-weight: bold;
                    white-space: nowrap;
                    text-align: center;
                    position: absolute;
                    top: 22%;
                    left: 20%;
                    transform: translate(50%,50%);
                    z-index: 10;
                }

                &::before {
                    content: "";
                    width: 81%;
                    height: 89%;
                    background: $live_lightBtn;
                    border-radius: 755px 421px 611px 227px;
                    position: absolute;
                    top: 10px;
                    right: 21px;
                }
            }
        }     
        
        .right {
            width: 65%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(2, 50%);
            gap: 4.8% 2.5%;
            
            .typeOutter {
                width: 100%;
                height: 0;
                padding-top: 53%;
                overflow: hidden;
                position: relative;
                cursor: pointer;

                &:hover,&:active,&.active {
                    .block {
                        transform: scale(1.12);
                        transition: 0.6s;
                    }

                    .textBox {
                        animation: bounce 3s 0.3s ease-in-out infinite;

                        p {
                            color: $sub_font;
                            // text-shadow: 0px 0px 5px $sub_font;
                        }


                        &::before { 
                            animation: bounce 3s 0.3s ease-in-out infinite;
                        }
                    }

                    @keyframes bounce {
                        0% {
                            border-radius: 344px 485px 157px 109px;
                            transform: scale(0.9);
                        }
                        34% {
                            border-radius: 642px 664px 77px 36px;
                            transform: scale(1.1);
                        }
                        67% {
                            border-radius: 836px 485px 538px 109px;
                            transform: scale(0.9);
                        }
                        100% {
                            border-radius: 344px 485px 157px 109px;
                            transform: scale(0.9);
                        }
                    }
                }

                &.sport {

                    .textBox {
                        background: $sport_Btn;
    
                        &::before {
                            background: $sport_lightBtn;
                        }
                    }
                }
                &.fish {
    
                    .textBox {
                        background: $fish_Btn;
    
                        &::before {
                            background: $fish_lightBtn;
                        }
                    }
                }
                &.slot {
    
                    .textBox {
                        background: $slot_Btn;
    
                        &::before {
                            background: $slot_lightBtn;
                        }
                    }
                }
                &.board {
                
                    .textBox {
                        background: $board_Btn;
    
                        &::before {
                            background: $board_lightBtn;
                        }
                    }
                }
                &:nth-of-type(4){
                    .textBox {
                        p {
                            top: 5%;
                        }
                    }
                }
            }

            .block {
                width: 95%;
                height: 92%;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 2;
            }

            .textBox {
                width: 48%;
                height: 71%;
                border-radius: 344px 485px 157px 109px;
                filter: drop-shadow(17px -6px 0.5px $sub_color);
                position: absolute;
                left: -8%;
                bottom: -31%;
                z-index: 5;

                p {
                    color: $main_font;
                    font-size: 1.5vw;
                    font-weight: bold;
                    white-space: nowrap;
                    text-align: center;
                    position: absolute;
                    top: 16%;
                    left: 0%;
                    transform: translate(50%,50%);
                    z-index: 10;
                }

                &::before {
                    content: "";
                    width: 75%;
                    height: 94%;    
                    border-radius: 344px 520px 261px 424px;
                    position: absolute;
                    top: 15px;
                    right: 37px;
                }

                
            }
        }
    }
}